@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-moni-dark flex justify-center items-center min-h-screen m-0;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@layer components {
  .glass {
    @apply bg-moni-card/80 backdrop-blur-xl;
  }

  .card-gradient {
    @apply bg-gradient-to-br from-moni-card to-moni-bg;
  }

  .paypal-gradient {
    @apply bg-gradient-to-r from-blue-900 to-blue-600;
  }
}
